html {
  margin: 0;
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  margin: 0;
  font-size: 7rem;
  font-weight: bold;
}

h2 {
  font-size: 4rem;
  margin: 30px 0 7.5px 0;
}

h1:hover, h2:hover {
  text-shadow: 0.25rem 0.25rem rgb(223, 223, 223);
}

h3 {
  margin: 0.5rem 0 0.5rem 0;
  font-size: 2.5rem;
}

h4 {
  margin: 7.5px 0 30px 0;
  font-size: 1.7rem;
}

h5 {
  font-size: 1.2rem;
  margin: 7.5px 0 7.5px 0;
}

a, a:visited {
  color: black;
}

a:hover, a:active{
  font-weight: 900;
}

.page {
  padding-top: 0px;
}

#pageContainer {
  position: relative;
  min-height: 100vh;
  padding: 0 20px 0;
  margin: 0 auto 0;
  max-width: 1200px;
}

/* Test scrolling snap in vertical */
/* .scroller {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
} */

/* .scroller section {
  scroll-snap-align: start;
} */

hr {
  margin: 0;
}

.centered {
  display: flex;
  flex-direction: row;
}

.arrowSection {
  margin-left: -20px;
  width: 80px;
}

.arrowSection:hover {
  filter: drop-shadow(3px 3px rgb(223, 223, 223));
}

/* HEADER */

#header {
  position: sticky;
  top: 0;
  z-index: 100;
}

header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  font-size: 16px;
}

header ul {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
}

.menuItem {
  margin-left: 10px;
}

/* HAMBURGER MENU */

main {
  padding-bottom: 50px;
}

.noDecoration {
  text-decoration: none;
  color: black;
}

.scrollContainer {
  position: relative;
}

.swipeBtn {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border: none;
}

.swipeBtn img {
  width: 40px;
}

.rightFloat {
  position: absolute;
  right: 10px;
  top: 55%;
}

.leftFloat {
  position: absolute;
  left: 10px;
  top: 55%;
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;
  height: calc(100vh - 50px);
}

.sectionContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.sectionContent h4 {
  margin-top: 45px;
}

.contentBox {
  font-size: 1.5rem;
  max-width: 60%;
  color: #3d3d3d;
}

/* HERO SECTION */

#hero {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p.brand {
  font-size: 3.5rem;
  margin: 1rem 0;
}



/* WORK SECTION (CAROUSEL) */

/* #work {
  height: calc(100vh - 50px);
} */

#workScroll {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 20px;
}

#workScroll::-webkit-scrollbar {
  display: none;
}

.scrollCard {
  margin-right: 50px;
  max-width: 450px;
}

.scrollCard p {
  margin: 7.5px 0 7.5px 0;
}

.scrollCard img {
  margin: 7.5px 0 7.5px 0;
  height: 300px;
  max-width: 450px;
  object-fit: cover;
}

.grid {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 300px;
}

.cardLine {
  height: 40px;
}

.cardLineDouble {
  min-height: 35px;
}

.chip {
  display: inline-block;
  background: rgb(236, 236, 236);
  margin: 0 5px 5px 0;
  padding: 2px 5px;
  border-radius: 32px;
  font-size: 13px;
}

.card img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.linksBar {
  display: flex;
}

.linksBar a {
  margin-right: 10px;
}

/* ABOUT SECTION */

/* #about {
  height: calc(100vh - 50px);
} */


/* CONTACT SECTION */

#contact {
  height: calc(100vh - 200px);
}

address {
  font-style: inherit;
  text-decoration: inherit;
}

/* FOOTER */

#footerSection {
  position: absolute;
  bottom: 0;
  width: calc(100% - 40px);
}

footer {
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

footer ul {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
}

footer ul .nav {
  margin-left: 10px;
}

@media screen and (max-width: 500px){
  html {
    font-size: 12px;
  }

  .hamburger {
    display: block;
    font-family: inherit;
    font-size: inherit;
    text-decoration: underline;
    border: none;
    background-color: transparent;
  }

  .closeMenu {
    display: none;
  }
  
  h1 {
    font-weight: bold;
    line-height: 100%;
  }

  h2 {
    font-size: 3rem;
  }

  p.brand {
    font-size: 2rem;
  }

  #footerSection {
    display: none;
  }

  .contentBox {
    font-size: 1.2rem;
    max-width: 100%;
    color: #3d3d3d;
  }

  .scrollCard {
    margin-right: 50px;
    width: calc(100vw - 40px);
  }

  .scrollCard img {
    width: calc(100vw - 40px);
    object-fit: cover;
  }

  #workScroll .scroller {
    scroll-snap-align: start;
  }

  .swipeBtn {
    display: none;
  }
}